<!DOCTYPE html>
	@*Landed by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)*@
<html>
<head>
		<title>@ViewBag.Title</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		@Styles.Render("~/Content/css")

		<!--[if lte IE 8]><script src="Content/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="Content/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="Content/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="Content/css/ie8.css" /><![endif]-->
</head>

	@*@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/angularjs")
	@RenderSection("scripts", required: false)*@
	<body class="landing" @*ng-app="PersonalWebpage" ng-cloak=""*@>
		@* Angular module here. Used for unified theme and controllers. *@
		@*<script type="text/javascript">
			var module = angular.module('PersonalWebpage', ['ngMaterial']);
			module.config(function ($mdThemingProvider) {
				$mdThemingProvider.theme('altTheme')
					.primaryPalette('grey', {
						'default': '900'
					})
					.accentPalette('grey', {
						'default': '700'
					})
					// .backgroundPalette('grey',{'default': '900'})
					.dark();
				$mdThemingProvider.theme('default')
					.dark();
				$mdThemingProvider.setDefaultTheme('altTheme');
			});
		</script>*@

		@RenderBody()
		<!-- Scripts -->
		<script src="Content/js/jquery.min.js"></script>
		<script src="Content/js/jquery.scrolly.min.js"></script>
		<script src="Content/js/jquery.dropotron.min.js"></script>
		<script src="Content/js/jquery.scrollex.min.js"></script>
		<script src="Content/js/skel.min.js"></script>
		<script src="Content/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="Content/js/main.js"></script>
	</body>
</html>
